ion-content {
  background : linear-gradient(to top,#1c92d2, #E4E5E6, #FFEFBA, #ffffff);
}
h2 {
  color: #000000;
  text-align: justify;
  font-size: 100%;
  margin-left: 20%;
  margin-right: 20%;
}
img {display: block;
margin: auto;
width: 60%;
margin-left: 20%;
  margin-right: 20%;
}
p {
  text-align: center;
  font-size: 190%;
  margin-left: 20%;
  margin-right: 50%;
}