ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/javidgregorio/ionic-ovbfc8@master/139426446_414939116424834_1599931093179675398_n.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
h2 {
  color: #000000;
  text-align: center;
  font-size: 100%;
  margin: auto;
}

p {
  text-align: center;
  font-size: 190%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
ion-item {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
