ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/javidgregorio/ionic-ovbfc8@master/139426446_414939116424834_1599931093179675398_n.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
ion-chip{
  color: white;

}
ion-avatar{
  width: 60px;
  height:60px;
  font-size: 100%;
}
h2 {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  background: #ed213a;
  border-style: block;
  border-color: white;
}
img {display: block;
margin: auto;
width: 50%;
}
p {
  font-family:'Times New Roman', Times, serif;
  color: white;
  text-align: justify;
  font-size: 100%;
  margin-left: 7%;
  margin-right: 7%;
   padding: 10px;
  background: black;
  border-style: bold;
  border-color: white;
  
}