ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/javidgregorio/ionic-ovbfc8@master/139426446_414939116424834_1599931093179675398_n.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
h2 {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
img {display: block;
margin: auto;
width: 25%;
}
p {
  font-family:'Times New Roman', Times, serif;
  color: white;
  text-align: justify;
  font-size: 125%;
  margin-left: 10%;
  margin-right: 10%;
}