ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/javidgregorio/ionic-ovbfc8@master/139285211_152971319786651_1596985713815096232_n.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

img {display: block;
margin: auto;
width: 40%;
}
h2 {
  color: white;
  text-align: center;
  font-size: 200%;
}
p {
  color: white;
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 125%;
}