ion-content {
  background : linear-gradient(to top,#1c92d2, #E4E5E6, #FFEFBA, #ffffff);
}

img {display: block;
margin: auto;
width: 40%;
}
h2 {
  color: #000000;
  text-align: center;
  font-size: 200%;
}
p {
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 125%;
}