ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/javidgregorio/ionic-ovbfc8@master/140328385_3948519211930464_7255109002551495275_n.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

img {display: block;
margin: auto;
width: 40%;
}
h2 {
  padding: 10px;
  background: gold;
  color: black;
  border-style: inset;
  text-align: center;
  font-size: 200%;
}
p {
  padding: 10px;
  background: #ed213a;
  border-style: double;
  color: white;
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 125%;
}
